---
---
$section-headings-color: #660066;
@import "{{ site.theme }}";
img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. 
It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). 
The sticky value is not supported in IE or Edge 15 and earlier versions. 
However, for these versions the navbar will inherit default position */
.navbar {
  overflow: hidden;
  background-color: #660066;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
/* Right-aligned link */
.navbar a.right {
  float: right;
}
/* Change color on hover */
.navbar a:hover {
  background-color: #ff9999;
  color: black;
}
.page-header {
  background: linear-gradient(to right, #660066 0%, #ff9999 100%);
  text-align: center;
  padding: 80px;
  color: white;
}
/* Column container */
.row {  
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}
/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}
/* Main column */
.main {   
  -ms-flex: 70%; /* IE10 */
  flex: 70%;
  background-color: white;
  padding: 20px;
}

